h1{
    text-align: center;
    color: #424949 ;
    font-family: cursive;
    margin: 150px 0px;
    font-size: 50px;
}
table{
    margin: 50px 0px;
}
h2{
    text-align: center;
    text-decoration: underline;
}